# rename to .env
WEBSERVER_PORT=9000
WEBSERVER_ISINPRODUCTION=false
WEBSERVER_POSTGRESURL="postgres://jan@localhost:5432/baka"
WEBSERVER_JWTSECRET=""
WEBSERVER_TESTERAPIIP=""
WEBSERVER_TESTERAPIPORT=4000