{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Language playground</title>
        <link rel='stylesheet' href='static/css/style.css'>
        <script defer src='/static/js/script.js'></script>
    </head>
    <body>

    <header>
        <h1 class="title">Language playground</h1>
    </header>

    {{template "nav" .}}

    <main>
        {{template "main" .}}
    </main>

    {{template "footer" .}}

    </body>
    </html>
{{end}}